h3 {
    font-size:35px !important; 
}
.btn-primary:hover {
    background-color : rgb(255, 0, 128);
}
canvas {

    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow:1px 1px 39px rgb(1, 252, 239) ;}
    to {box-shadow:1px 1px 39px rgb(248, 0, 83);}
}